#search {
  width: 20%;
  min-width: 250px;
  margin: auto;
}
#loginGroup{
  width: 20%;
  min-width: 250px;
  margin: auto;
}
#small-alert{
width: 20%;
  min-width: 100px;
  margin: auto;
}
.bg-info {
  background-color: #002c76 !important;
}
